.mainContainer {
    z-index: 1;
    top: 0;
    position: sticky;
}

.mainToolbar {
    padding: 0 40px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.mainToolbar button {
    min-width: auto !important;
}

.spacer {
    flex: 1 1 auto;
}

.icon {
    padding: 0 14px;
}

.menu {
    display: none;
}

.submenu {
    padding: 0 40px;
    height: 80px;
    letter-spacing: 5px;
    background-color: darkslateblue;
    color: white;
}

.submenu mat-icon {
    margin: 0 14px 0 0;
}

mat-icon {
    outline: none;
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

.name {
    letter-spacing: 5px;
}

.title {
    text-transform: capitalize;
}

@media all and (max-width: 800px) {
    .name {
        letter-spacing: 0;
    }
    .submenu {
        margin-bottom: 50px;
    }
    .mainToolbar, .submenu {
        padding: 0 16px;
    }
}
