<!-- Navbar -->
<mat-toolbar color="primary" class="mainContainer">
    <mat-toolbar-row class="mainToolbar">
        <button mat-icon-button class="menu" (click)="toggle()">
            <mat-icon aria-label="Menu">menu</mat-icon>
        </button>
        <span matTooltip="Intelma Repository" [matTooltipPosition]="'right'" class="name">IRepo</span>
        <span class="spacer"></span>
        <button mat-icon-button [routerLink]="'/'">
            <mat-icon aria-label="Home">home</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="warn" class="submenu">
    <span class="title">{{title}}</span>
    <mat-icon>{{titleIcon}}</mat-icon>
</mat-toolbar>
