<mat-card [@appear]="appearIn">
    <mat-card-header>
      <mat-card-title>
        {{(issue$ | async)?.issue.title}}
      </mat-card-title>
      <mat-card-subtitle>
        <div matTooltip="Description" [matTooltipPosition]="'right'">
          <mat-icon aria-label="Description">description</mat-icon>
          {{(issue$ | async)?.issue.description}}
        </div>
        <div matTooltip="Created" [matTooltipPosition]="'right'">
          <mat-icon aria-label="Created">calendar_today</mat-icon>
          {{(issue$ | async)?.created | date: 'medium'}}
        </div>
        <div matTooltip="Updated" [matTooltipPosition]="'right'">
          <mat-icon aria-label="Updated">update</mat-icon>
          {{(issue$ | async)?.updated | date: 'medium'}}
        </div>
        <div matTooltip="Status" [matTooltipPosition]="'right'">
          <mat-icon aria-label="Status" [ngStyle]="{ 'color': (issue$ | async)?.state.open.status ? '#e81e63' : '#483c8b'}">{{(issue$ | async)?.state.open.status ? 'lock_open' : 'lock'}}</mat-icon>
          {{(issue$ | async)?.state.open.status ? 'Open' : 'Close'}}
        </div>
        <div matTooltip="Priority" [matTooltipPosition]="'right'">
          <mat-icon aria-label="Priority" *ngIf="(issue$ | async)?.severity === 1" style="color: crimson;">looks_one</mat-icon>
          <mat-icon aria-label="Priority" *ngIf="(issue$ | async)?.severity === 2" style="color: orange;">looks_two</mat-icon>
          <mat-icon aria-label="Priority" *ngIf="(issue$ | async)?.severity === 3" style="color: yellowgreen;">looks_3</mat-icon>
          <span *ngIf="(issue$ | async)?.severity === 1">High priority</span>
          <span *ngIf="(issue$ | async)?.severity === 2">Medium priority</span>
          <span *ngIf="(issue$ | async)?.severity === 3">Low priority</span>
        </div>
        <div matTooltip="Labels" [matTooltipPosition]="'right'">
          <mat-icon aria-label="Labels">label</mat-icon>
          <span class="tag" *ngFor="let tag of (issue$ | async)?.tags; let i = index">{{tag}}</span>
        </div>
        <div matTooltip="User" [matTooltipPosition]="'right'">
          <mat-icon aria-label="User">account_box</mat-icon>
          {{(issue$ | async)?.engineer.email}}
        </div>
      </mat-card-subtitle>
    </mat-card-header>
  <mat-card-content>
    <h3>Actions</h3>
    <div class="actions" *ngFor="let action of (issue$ | async)?.issue.actions; let i = index" [ngStyle]="{'background-color': i % 2 !== 0 ? 'ghostwhite' : '#f1f1f9'}">
      <div>
        <mat-icon class="actionTitleIcon" mat-list-icon>feedback</mat-icon>
        <h4 mat-line>{{action.action}}</h4>
        <span class="spacer"></span>
        <button mat-icon-button matBadge="{{action.votes.likes.length}}" matBadgeOverlap="true" matBadgePosition="after" matBadgeColor="warn" (click)="like(action._id)">
          <mat-icon color="warn" aria-label="Like">thumb_up</mat-icon>
        </button>
        <button mat-icon-button matBadge="{{action.votes.dislikes.length}}" matBadgeOverlap="true" matBadgePosition="after" matBadgeColor="warn" (click)="dislike(action._id)">
          <mat-icon color="warn" aria-label="Dislike">thumb_down</mat-icon>
        </button>
      </div>
      <p>{{action.description}}</p>
      <div class="description">
        <span class="creator">{{action.user}}</span>
        <span class="date">{{action.created | date: 'medium'}}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <ng-container *ngIf="(issue$ | async)?.state.open.status; else closeIssue">
      <button mat-raised-button color="warn" (click)="addAction()">ADD ACTION</button>
      <button class="closeIssueBtn" mat-raised-button (click)="close()">CLOSE</button>
    </ng-container>
    <ng-template #closeIssue>
      <button class="reopenIssueBtn" mat-raised-button (click)="reopen()">RE-OPEN</button>
    </ng-template>
  </mat-card-actions>
</mat-card>