.container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    align-items: center;
    border-left-width: 6px;
    border-left-style: solid;
    border-left-color: lightgray;
}

.container mat-icon {
    margin-right: 20px;
}

.title {
    margin-bottom: 5px;
}

.description {
    font-size: small;
    color: #586069;
}

.spacer {
    flex: 1 1 auto;
}

@media all and (max-width: 800px) {

}
