<div
  class="container"
  (click)="issueDetail()"
  [@selected]="selected"
  [ngStyle]="{ 'border-left-color': getSeverityCl(issue.severity) }">
  <mat-icon aria-label="Status" [ngClass]="issue.state.open.status ? 'green' : ''">{{issue.state.open.status ? 'lock_open' : 'lock'}}</mat-icon>
  <div>
    <div class="title">
        {{issue.issue.title}}
    </div>
    <div class="description">
        {{issue.issue.description}} by {{issue.engineer.email}}
    </div>
  </div>
  <span class="spacer"></span>
  <mat-chip-list>
    <mat-chip color="primary" selected="true" matTooltip="Actions" [matTooltipPosition]="'left'">{{issue.issue.actions.length}}</mat-chip>
  </mat-chip-list>
</div>
