<button mat-fab class="add" (click)="createIssue()">
    <mat-icon aria-label="Add" class="addIcon">add</mat-icon>
</button>
<mat-toolbar class="searchMenu">
    <div class="button-row">
        <button mat-button>Open</button>
        <button mat-button>Closed</button>
    </div>
    <div class="button-row">
        <button mat-button>Author</button>
        <button mat-button>Labels</button>
        <button mat-button>Assignee</button>
        <button mat-button><mat-icon>search</mat-icon></button>
    </div>
</mat-toolbar>

<div class="issuesContainer" *ngIf="issues" [@showing]="issues.length">
  <app-issue
    *ngFor="let issue of issues"
    [issue]="issue"
    (mouseenter)="mouseEnter(issue)"
    (mouseleave)="mouseLeave(issue)"
    [selected]="issue.selected">
  </app-issue>
</div>

<div *ngIf="issues?.length === 0" class="noIssues">
    <h3>There are no issues yet.</h3>
</div>

