.issuesContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

app-issue {
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.add {
    position: absolute;
    top: 115px;
    right: 5%;
}

.addIcon {
    margin-right: 0;
}

.searchMenu {
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
}

.noIssues {
    width: 100%;
    background-color: whitesmoke;
}

.noIssues h3 {
    padding: 20px;
    margin: 0;
}

/* Small screens */

@media all and (max-width: 800px) {
    .issuesContainer {
        flex-direction: column;
    }
    .add {
        top: 107px;
    }
}
