.issuesContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.issuesContainer h3 {
    padding: 20px 0;
    width: 100%;
    margin: 0;
    background-color: whitesmoke;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkslateblue;
}

.issuesContainer h3 mat-icon {
    margin-right: 5px;
}

app-issue {
    width: 100%;
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

.add {
    position: absolute;
    top: 115px;
    right: 5%;
}

.addIcon {
    margin-right: 0;
}

.filterContainer {
    background-color: rgba(255, 255, 255, 1);
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: small;
}

.filterContainer div.search, .filterContainer div.filters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.filterContainer div.search form {
    flex: 1;
    margin-right: 5px;
}

.filterContainer div.search form mat-form-field {
    width: 100%;
}

mat-button-toggle-group {
    box-shadow: none;
    margin: 0 5px;
    background-color: ghostwhite;
    border: 1px solid #e0e0e0;
}

/* Small screens */

@media all and (max-width: 800px) {
    .issuesContainer {
        flex-direction: column;
    }
    .add {
        top: 107px;
    }
    .filterContainer {
        flex-direction: column;
        padding: 5px;
    }
    .filterContainer div.filters {
        margin-top: 10px;
    }
}
