.issuesContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

app-issue {
    width: 100%;
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

.add {
    position: absolute;
    top: 115px;
    right: 5%;
}

.addIcon {
    margin-right: 0;
}

.noIssues {
    width: 100%;
    background-color: whitesmoke;
}

.noIssues h3 {
    padding: 20px;
    margin: 0;
}

.filterContainer {
    background-color: rgba(255, 255, 255, 1);
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

form {
    flex: 1;
    margin-right: 15px;
}

form mat-form-field {
    width: 100%;
}

mat-button-toggle-group {
    box-shadow: none;
}

/* Small screens */

@media all and (max-width: 800px) {
    .issuesContainer {
        flex-direction: column;
    }
    .add {
        top: 107px;
    }
    .filterContainer {
        flex-direction: column;
    }
}
