<button mat-fab class="add" (click)="createIssue()">
  <mat-icon aria-label="Add" class="addIcon">add</mat-icon>
</button>
<mat-progress-bar mode="indeterminate" *ngIf="load"></mat-progress-bar>
<div class="filterContainer">
  <div class="search">
    <form>
      <mat-form-field [floatLabel]="'never'">
        <input matInput type="text" placeholder="Filter by {{term}} {{term === 'tags' ? ' ( ex: tag1 - tag2 ) ' : ''}}" [formControl]="searchField" />
      </mat-form-field>
    </form>
    <mat-button-toggle-group [(ngModel)]="term">
      <mat-button-toggle value="engineer" [checked]="true" matTooltip="Search by user" [matTooltipPosition]="'above'">
        <mat-icon aria-label="Engineer">account_box</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="tags" matTooltip="Search by label" [matTooltipPosition]="'above'">
        <mat-icon aria-label="Label">label</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="filters">
    <mat-button-toggle-group [(ngModel)]="order">
      <mat-button-toggle value="severity" matTooltip="Order by severity" [matTooltipPosition]="'above'">
        <mat-icon aria-label="Order by severity">warning</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="created" matTooltip="Order by date" [matTooltipPosition]="'above'">
        <mat-icon aria-label="Order by date">calendar_today</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle-group [(ngModel)]="status">
      <mat-button-toggle value="" matTooltip="Open and Close" [matTooltipPosition]="'above'">
        <mat-icon>indeterminate_check_box</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="open" matTooltip="Open" [matTooltipPosition]="'above'">
        <mat-icon aria-label="Open">lock_open</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="close" matTooltip="Close" [matTooltipPosition]="'above'">
        <mat-icon aria-label="Close">lock</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div class="issuesContainer">
  <ng-container *ngIf="(issues$ | async)?.length > 0; else noIssues">
    <app-issue
        *ngFor="let issue of (issues$ | async) | openOrClose:status | orderBy:order"
        [issue]="issue"
        (mouseenter)="issue.selected = 'selected'"
        (mouseleave)="issue.selected = 'not'"
        [selected]="issue.selected">
    </app-issue>
  </ng-container>
  <ng-template #noIssues>
    <h3>
        <mat-icon aria-label="No issues">info</mat-icon>
        There are no issues yet.
    </h3>
  </ng-template>
</div>
