
  <ng-container *ngIf="user; else login">

    <div class="notification">
      <p>Welcome {{user.email}}!</p>
      <hr>
      <p><button mat-raised-button color="warn" (click)="logout()" class="button">Signout</button></p>
    </div>

  </ng-container>

  <ng-template #login>
    <form [formGroup]="loginForm" novalidate>
      <mat-form-field [floatLabel]="'never'">
        <input placeholder="User email" matInput type="email" formControlName="email">
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="loginForm.status === 'INVALID'" (click)="sendEmailLink()">Get login link</button>
    </form>
  </ng-template>

