.title {
    display: flex;
    align-items: center;
}

.title mat-icon {
    margin-right: 10px;
}

.content, .fullW, .fullW mat-form-field {
    width: 100%;
}

.fullW div {
    display: flex;
    align-items: center;
}

.fullW div button {
    flex: 0 0 auto;
    margin-left: 5px;
}

.fullW div mat-form-field {
    flex: 1 0 auto;
    width: auto;
    margin: 20px 0 10px;
}

.fullW mat-chip-list mat-chip mat-icon {
    margin-left: 5px;
    cursor: pointer;
}

mat-radio-button {
    margin-right: 10px;
}

.create {
    margin-top: 30px;
    width: 100%;
}